---
import { getCollection, render } from 'astro:content'
import H1 from '../../components/H1.astro'
import Layout from '../../layouts/Layout.astro'
import { Image } from 'astro:assets'

export async function getStaticPaths() {
    const projects = await getCollection('projects')
    return projects.map((project) => ({
        params: {
            id: project.id,
        },
        props: {
            project,
        },
    }))
}

const { project } = Astro.props
const { Content } = await render(project)
---

<Layout pageTitle={project.data.title}>
    <H1>{project.data.title}</H1>
    {project.data.image ? <Image src={project.data.image} alt={project.data.imageAlt || ''} /> : null}
    <Content />
</Layout>
