---
import { Image } from 'astro:assets'
import { getCollection, render } from 'astro:content'
import H2 from '../../components/H2.astro'
import Layout from '../../layouts/Layout.astro'
import { getBlogPath } from '../../services/url'

export async function getStaticPaths() {
    const posts = await getCollection('blog')
    return posts.map((post) => ({
        params: {
            id: getBlogPath(post),
        },
        props: {
            post,
        },
    }))
}

const { post } = Astro.props
const { Content } = await render(post)
---

<Layout>
    <H2>{post.data.title}</H2>
    {
        post.data.coverImage ? (
            <div class="coverImage">
                <Image
                    src={post.data.coverImage}
                    alt={post.data.coverImageAlt || ''}
                    layout="constrained"
                    height={350}
                    loading="eager"
                />
            </div>
        ) : null
    }
    <Content />
</Layout>

<style>
    .coverImage {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }
</style>
