---
import MusicLayout from '../../layouts/MusicLayout.astro'
---

<MusicLayout>
    <p>
        bm_128 is my solo music project. The output is experimental (mostly electronic) music. Stream or download all
        albums for free, and see (listen) for yourself!
    </p>
</MusicLayout>
