---
import PhotoGallery from '../../components/PhotoGallery.astro'
import MusicLayout from '../../layouts/MusicLayout.astro'
import { toPhotoGalleryImage } from '../../services/images'
import berliner_berg from '../../data/photos/bm_128/berliner_berg.jpg'
import game_boy from '../../data/photos/bm_128/game_boy.jpg'
import klingemuehle from '../../data/photos/bm_128/klingemuehle.jpeg'
import Spacer from '../../components/Spacer.astro'

const images = [
    toPhotoGalleryImage(
        berliner_berg,
        'bm_128 performing live during daytime in front of a green-white wall with some plants hanging down. He is playing on a Biergarten table with a laptop, a Game Boy, and a synthesizer – all connected with lots of cables.'
    ),
    toPhotoGalleryImage(game_boy, 'Closeup of bm_128 holding a blue Game Boy in his hand during a live performance.'),
    toPhotoGalleryImage(
        klingemuehle,
        'bm_128 performing live in a sunny garden with some shade provided by a propped-up parasol.'
    ),
]
---

<MusicLayout>
    <p>
        bm_128 is my solo music project. The output is experimental (mostly electronic) music. Stream or download all
        albums for free, and see (listen) for yourself!
    </p>
    <ul>
        <li><a href="https://bm128.bandcamp.com/">Bandcamp</a></li>
        <li>
            <a href="https://soundcloud.com/bm_128">SoundCloud</a> (incl. remixes, soundtracks, live recordings, and random
            releases)
        </li>
        <li><a href="https://open.spotify.com/artist/0r6WkrBA82FWXk5a9SbJKG">Spotify</a></li>
        <li><a href="https://itunes.apple.com/us/artist/bm-128/id927504550">Apple Music</a></li>
        <li><a href="https://musician.social/@bm_128">Mastodon</a></li>
        <li><a href="https://www.facebook.com/bm128">Facebook</a></li>
    </ul>
    <h2>Live improvisations</h2>
    <p>
        For the bm_128 live gigs, I’m playing improvised sets that are always unique and reactive to the location and
        atmosphere. Some recordings from these live sessions can be found on <a
            href="https://soundcloud.com/bm_128/sets/live-improvisations">SoundCloud</a
        >.
    </p>
    <PhotoGallery images={images} />
    <Spacer size="1rem" />
    <ul>
        <li>04.11.2017: Kitchen Live Jam @ home</li>
        <li>31.07.2021: Die klingende Mühle Festival</li>
        <li>10.09.2021: Birthday Open House @ Kulturschöpfer</li>
        <li>
            24.06.2023 & 25.06.2023: 48 Stunden Neukölln 2023 @ Berliner Berg Brauerei (<em>Play again.</em>)
        </li>
        <li>
            29.06.2024 & 30.06.2024: 48 Stunden Neukölln 2024 @ Berliner Berg Brauerei (<em>Ambient Neukölln</em>)
        </li>
    </ul>
</MusicLayout>
