---
import MusicLayout from '../../layouts/MusicLayout.astro'
---

<MusicLayout>
    <p>
        mentizid was a post-rock/progressive rock band between 2008 and 2012 that I used to participate in with
        synthesizers/keyboards. We released our music via <a href="https://mentizid.bandcamp.com/">Bandcamp</a> and <a
            href="https://soundcloud.com/mentizid">SoundCloud</a
        > and played several live shows in Berlin and other cities in Germany.
    </p>
    <p>Nowadays, half of the band members of mentizid are playing in <a href="/music/modi/">MØDI</a>.</p>
</MusicLayout>
