---
import PhotoGallery from '../../components/PhotoGallery.astro'
import Spacer from '../../components/Spacer.astro'
import live1 from '../../data/photos/modi/live-1.jpg'
import live2 from '../../data/photos/modi/live-2.jpg'
import MusicLayout from '../../layouts/MusicLayout.astro'
import { toPhotoGalleryImage } from '../../services/images'

const images = [
    toPhotoGalleryImage(
        live1,
        'MØDI performing live in a small venue, with their singer Anne in the center of the photo.'
    ),
    toPhotoGalleryImage(
        live2,
        'MØDI performing live in a small venue, with Sebastian on keys and bass, and Karl on electric drums.'
    ),
]
---

<MusicLayout>
    <p>
        MØDI consists of <a href="https://soundcloud.com/ane-kin">ANËKIN</a>, Karl and me. We make electronic/ambient
        music.<br />
        We released two albums: “Ett” in 2018 and “<a href="https://modi.bm128.de"></a>re:float” in 2024.
    </p>
    <ul>
        <li><a href="https://modi.bandcamp.com/">Bandcamp</a></li>
        <li><a href="https://open.spotify.com/artist/2UcUQWTtBW6A5FXVCqRAoI">Spotify</a></li>
        <li><a href="https://music.apple.com/us/artist/m%C3%B8di/1329501470">Apple Music</a></li>
        <li><a href="https://soundcloud.com/modiberlin">SoundCloud</a></li>
        <li><a href="https://www.instagram.com/moditheband/">Instagram</a></li>
        <li><a href="https://www.facebook.com/modiberlin/">Facebook</a></li>
    </ul>
    <Spacer size="0.5rem" />
    <PhotoGallery images={images} />
</MusicLayout>
