---
import MusicLayout from '../../layouts/MusicLayout.astro'
---

<MusicLayout>
    <p>
        MØDI consists of <a href="https://soundcloud.com/ane-kin">ANËKIN</a>, Karl and me. We make electronic/ambient
        music.<br />
        We released two albums: “Ett” in 2018 and “<a href="https://modi.bm128.de"></a>re:float” in 2024.
    </p>
    <ul>
        <li><a href="https://modi.bandcamp.com/">Bandcamp</a></li>
        <li><a href="https://open.spotify.com/artist/2UcUQWTtBW6A5FXVCqRAoI">Spotify</a></li>
        <li><a href="https://music.apple.com/us/artist/m%C3%B8di/1329501470">Apple Music</a></li>
        <li><a href="https://soundcloud.com/modiberlin">SoundCloud</a></li>
        <li><a href="https://www.instagram.com/moditheband/">Instagram</a></li>
        <li><a href="https://www.facebook.com/modiberlin/">Facebook</a></li>
    </ul>
</MusicLayout>
