---
import MusicLayout from '../../layouts/MusicLayout.astro'
---

<MusicLayout>
    <p>
        From time to time, I compose soundtracks. I like it a lot, so definitely let me know if you’re in need of a
        soundtrack for a short movie, video game, stage play or alike!
    </p>
    <ul>
        <li>
            2010: <a href="https://www.deutschestheater.de/programm/archiv/f-j/fruehlings_erwachen/"
                >Frühlings Erwachen</a
            > (collaboration with Sven Kaiser for Deutsches Theater Berlin)
        </li>
        <li>2010: Frau Hegnauer kommt (stage play)</li>
        <li>2011: Die wahre Geschichte von allen Farben (stage play)</li>
        <li>
            2015: <a href="https://soundcloud.com/bm_128/intro-idea-demo">The World Is Not Enough</a> (game prototype at
            Mini Game Jam Berlin)
        </li>
        <li>2017: Wie nur Räume (short film)</li>
        <li>2017: Du in mir (short film)</li>
        <li>2020: Untitled essay film (short film)</li>
    </ul>
</MusicLayout>
