<footer>
    <nav aria-label="Footer menu">
        <ul class="menu">
            <li>
                <a href="/contact/" class="menu-item" }>Contact</a>
            </li>
            <li>
                <a href="/uses/" class="menu-item">/uses</a>
            </li>
            <li>
                <a href="/rss.xml/" class="menu-item" }>RSS</a>
            </li>
            <li>
                <a href="/imprint/" class="menu-item" }>Imprint</a>
            </li>
        </ul>
        <ul class="menu">
            <li>
                <a href="https://mastodon.social/@herrherrmann" class="menu-item">Mastodon</a>
            </li>
            <li>
                <a href="https://github.com/herrherrmann" class="menu-item">GitHub</a>
            </li>
            <li>
                <a href="https://unsplash.com/@herrherrmann" class="menu-item">Unsplash</a>
            </li>
            <li>
                <a href="https://bm128.bandcamp.com/" class="menu-item">Bandcamp</a>
            </li>
        </ul>
    </nav>
</footer>

<style>
    footer {
        width: 100%;
        padding: 2rem 0;
        margin-top: 2.5rem;
        background-color: var(--text-color);
    }
    nav {
        width: 100%;
        max-width: var(--page-max-width);
        padding: 0 var(--page-padding);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0.5rem 3rem;
    }
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 0rem 1rem;
    }
    a.menu-item {
        color: var(--light-color);
        text-decoration: underline;
        text-decoration-color: transparent;
        text-decoration-thickness: 0.1em;
        text-underline-offset: 0.18em;
    }
    a.menu-item:hover {
        text-decoration-color: inherit;
    }
</style>
