---
const { pathname } = Astro.url

interface MenuItem {
    url: string
    title: string
}

const menuItems: MenuItem[] = [
    { url: '/', title: 'Blog' },
    { url: '/about', title: 'About' },
    { url: '/projects', title: 'Projects' },
    { url: '/music/bm_128', title: 'Music' },
    { url: '/photos', title: 'Photos' },
]
---

<header>
    <div class="inner">
        <a href="/" class="title"><span class="logo" role="presentation"></span>Herr Herrmann</a>
        <nav aria-label="Main menu">
            <ul class="menu">
                {
                    menuItems.map((menuItem) => (
                        <li>
                            <a href={menuItem.url} class:list={['menu-item', { active: pathname === menuItem.url }]}>
                                {menuItem.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        width: 100%;
        padding: var(--page-padding) 0;
        border-bottom: 1px solid var(--accent-color);
        background-color: hsl(from var(--accent-color) h s l / 0.1);
        margin-bottom: 1.5rem;
    }
    .inner {
        max-width: var(--page-max-width);
        padding: 0 var(--page-padding);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    .title {
        display: flex;
        align-items: center;
        margin: 0;
        font-family: var(--font-family-headlines);
        font-size: 1.5rem;
        word-spacing: -0.4em;
        line-height: 1.1;
        text-decoration: none;
        color: var(--text-color);
        border-radius: 6px;
    }
    .title:hover {
        color: var(--text-color-active);
    }
    .logo {
        display: block;
        flex: 0.8rem 0 0;
        width: 0.8rem;
        height: 0.8rem;
        margin-top: 0.1em;
        margin-right: 0.3em;
        background-color: var(--accent-color);
        border-radius: 50%;
    }
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: var(--font-family-headlines);
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 0rem 0.25rem;
    }
    .menu-item {
        color: var(--text-color);
        line-height: 1;
        text-decoration: none;
        padding: 0.25rem 0.4rem;
        border-radius: 6px;
        transition: background-color 100ms;
    }
    .menu-item:hover:not(.active) {
        background-color: hsl(from var(--accent-color) h s l / 0.2);
        color: var(--text-color-active);
    }
    .active {
        background-color: var(--accent-color-subdued);
        color: var(--text-color-active);
    }
</style>
