---
import Spiral from '../Logos/Spiral.astro'

const { pathname } = Astro.url

interface MenuItem {
    url: string
    urlMatch?: RegExp
    title: string
}

const menuItems: MenuItem[] = [
    { url: '/blog/', urlMatch: new RegExp('/blog/'), title: 'Blog' },
    { url: '/about/', title: 'About' },
    { url: '/projects/', urlMatch: new RegExp('/projects?/'), title: 'Projects' },
    { url: '/music/bm_128/', urlMatch: new RegExp('/music/'), title: 'Music' },
    { url: '/photos/', title: 'Photos' },
]
---

<header>
    <div class="inner">
        <a href="/" class="title" lang="de-DE">
            <span class="logo" role="presentation">
                <Spiral />
            </span>
            <span class="title-text">Herr Herrmann</span>
        </a>
        <nav aria-label="Main menu">
            <ul class="menu">
                {
                    menuItems.map((menuItem) => (
                        <li>
                            <a
                                href={menuItem.url}
                                class:list={[
                                    'menu-item',
                                    {
                                        active: menuItem.urlMatch
                                            ? menuItem.urlMatch.exec(pathname)
                                            : menuItem.url === pathname,
                                    },
                                ]}
                            >
                                {menuItem.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        width: 100%;
        padding: var(--page-padding) 0;
        border-bottom: 1px solid var(--accent-color);
        background-color: hsl(from var(--accent-color) h s l / 0.1);
        margin-bottom: 1.5rem;
    }
    .inner {
        max-width: var(--page-max-width);
        padding: 0 var(--page-padding);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    .title {
        display: flex;
        align-items: center;
        margin: 0;
        font-family: var(--font-family-headlines);
        font-size: 1.25rem;
        word-spacing: -0.4em;
        line-height: 1.1;
        text-decoration: none;
        color: var(--text-color);
        border-radius: 6px;

        @media (min-width: 500px) {
            font-size: 1.5rem;
        }
    }
    .title:hover,
    .title:active {
        color: var(--text-color-active);
        animation-name: rubberBand;
        animation-duration: 800ms;
        animation-fill-mode: both;

        @media (prefers-reduced-motion: reduce) {
            animation-name: none;
        }
    }
    .logo {
        flex: 1.25rem 0 0;
        margin-top: 0.1em;
        margin-right: 0.1em;
        color: var(--accent-color);

        svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
    @keyframes rubberBand {
        0% {
            transform: scale3d(1, 1, 1);
        }
        30% {
            transform: scale3d(1.25, 0.75, 1);
        }
        40% {
            transform: scale3d(0.75, 1.25, 1);
        }
        50% {
            transform: scale3d(1.15, 0.85, 1);
        }
        65% {
            transform: scale3d(0.95, 1.05, 1);
        }
        75% {
            transform: scale3d(1.05, 0.95, 1);
        }
        100% {
            transform: scale3d(1, 1, 1);
        }
    }
    .title-text {
        flex: 0 1 auto;
    }
    nav {
        flex: 1 2 auto;
    }
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: var(--font-family-headlines);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        gap: 0rem 0.1rem;
        line-height: 1;
    }
    .menu-item {
        display: flex;
        text-decoration: none;
        padding: 0.4rem 0.6rem;
        border-radius: 6px;
        color: var(--text-color);
        background-color: transparent;
        transition: background-color 100ms;
    }
    .menu-item:hover:not(.active) {
        color: var(--text-color-active);
        background-color: hsl(from var(--accent-color) h s l / 0.2);
    }
    .active {
        color: var(--text-color-active);
        background-color: var(--accent-color-subdued);
    }
</style>
