---
const { pathname } = Astro.url
---

<header>
    <div class="inner">
        <h1>
            <a href="/" class="title">Herr Herrmann</a>
        </h1>
        <nav aria-label="Main menu">
            <ul class="menu">
                <li>
                    <a href="/" class:list={['menu-item', { active: pathname === '/' }]}>Blog</a>
                </li>
                <li>
                    <a href="/projects" class:list={['menu-item', { active: pathname.startsWith('/projects') }]}>
                        Projects
                    </a>
                </li>
                <li>
                    <a href="/photos" class:list={['menu-item', { active: pathname === '/photos' }]}>Photos</a>
                </li>
                <li>
                    <a href="/about" class:list={['menu-item', { active: pathname === '/about' }]}>About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        width: 100%;
        padding: var(--page-padding) 0;
        border-bottom: 1px solid var(--accent-color);
        background-color: hsl(from var(--accent-color) h s l / 0.1);
        margin-bottom: 1.5rem;
    }
    .inner {
        max-width: var(--page-max-width);
        padding: 0 var(--page-padding);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    h1 {
        font-size: 1.5rem;
        line-height: 1.1;
        margin: 0;
    }
    .title {
        color: var(--text-color);
        text-decoration: none;
    }
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: var(--font-family-headlines);
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 0rem 0.25rem;
    }
    .menu-item {
        color: var(--text-color);
        line-height: 1;
        text-decoration: none;
        padding: 0.25rem 0.4rem;
        border-radius: 4px;
        transition: background-color 100ms;
    }
    .menu-item:hover:not(.active) {
        background-color: hsl(from var(--accent-color) h s l / 0.2);
    }
    .active {
        background-color: var(--accent-color-subdued);
    }
</style>
