<main>
    <slot />
</main>

<style>
    main {
        flex: 1 0 auto;
        width: 100%;
        max-width: var(--page-max-width);
        padding: 0 var(--page-padding);
        margin: 0 auto;
    }
</style>
