---
import ButtonLink from '../components/ButtonLink.astro'
import H1 from '../components/H1.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout pageTitle="Site not found">
    <H1>❌ Site not found</H1>
    <p>Please try a different one.</p>
    <ButtonLink href="/">Go to homepage</ButtonLink>
</Layout>
