---
import { getCollection } from 'astro:content'
import H2 from '../components/H2.astro'
import Layout from '../layouts/Layout.astro'
import BlogList from '../components/BlogList.astro'
import Spacer from '../components/Spacer.astro'

const posts = (await getCollection('blog')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<Layout>
    <p>Hello, I’m Sebastian from Berlin, Germany. 👋</p>
    <h2>Blog posts</h2>
    <BlogList posts={posts} />
</Layout>
