---
import H1 from '../components/H1.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout pageTitle="Photos">
    <H1>Photos</H1>
    <p>
        I love taking pictures during trips, concerts or just on a random stroll through the city.<br />You can find a
        selection of my photos on <a href="https://unsplash.com/@herrherrmann">Unsplash</a>.
    </p>
    <h3>Equipment</h3>
    <p>
        <ul>
            <li>Fuji X-T3</li>
            <ul>
                <li>Fuji XF 16-55mm F2.8</li>
                <li>Fuji XF 35mm F1.4</li>
                <li>Fuji XF 55-200mm F3.5-4.8</li>
            </ul>
            <li>Lomo LC-1</li>
            <li>Polaroid Impulse Portrait</li>
        </ul>
    </p>
    <p>
        <h3>Former equipment</h3>
        <ul>
            <li>Canon EOS 6D</li>
            <ul>
                <li>Sigma 24-70mm F2.8</li>
                <li>Sigma 70-200mm F2.8</li>
                <li>Canon 50mm F1.4</li>
            </ul>
            <li>Canon EOS 600D</li>
            <ul>
                <li>Sigma 17-50mm F2.8</li>
                <li>Canon 50mm F1.8 II</li>
            </ul>
            <li>Canon EOS 450D</li>
            <li>Nikon AW-100S</li>
        </ul>
    </p>
</Layout>
