---
import type { CollectionEntry } from 'astro:content'
import { formatDate } from '../services/date'
import { getBlogPath } from '../services/url'

interface Props {
    posts: Array<CollectionEntry<'blog'>>
}

const { posts } = Astro.props
---

<ul>
    {
        posts.map((post) => (
            <li>
                <time datetime={formatDate(post.data.date)}>{formatDate(post.data.date)}</time>
                <a href={`/blog/${getBlogPath(post)}/`}>{post.data.title}</a>
            </li>
        ))
    }
</ul>

<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap: 0.5rem;
    }
    time {
        flex: 0 0 auto;
        font-size: var(--font-size-small);
        @media (min-width: 500px) {
            font-size: var(--font-size-regular);
        }
    }
</style>
