---
import type { CollectionEntry } from 'astro:content'

interface Props {
    tags: CollectionEntry<'blog'>['data']['tags']
}

const { tags } = Astro.props
---

<ul>
    {
        tags.map((tag, index) => (
            <li>
                {tag}{index < tags.length - 1 ? ', ' : ''}
            </li>
        ))
    }
</ul>

<style>
    ul {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
    }
</style>
