---
import type { CollectionEntry } from 'astro:content'
import { formatDate } from '../services/date'
import { getBlogPath } from '../services/url'

interface Props {
    posts: Array<CollectionEntry<'blog'>>
}

const { posts } = Astro.props
---

<ul>
    {
        posts.map((post) => (
            <li>
                <a href={`/blog/${getBlogPath(post)}/`}>{post.data.title}</a>
                <time datetime={formatDate(post.data.date)}>{formatDate(post.data.date)}</time>
            </li>
        ))
    }
</ul>

<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
</style>
