---
import type { CollectionEntry } from 'astro:content'

interface Props {
    projects: Array<CollectionEntry<'projects'>>
}

const { projects } = Astro.props
---

<ul>
    {
        projects.map((project) => (
            <li>
                <a href={`/project/${project.id}/`} class="link">
                    <span class="title">{project.data.title}</span>
                    <small class="description">{project.data.description}</small>
                </a>
            </li>
        ))
    }
</ul>

<style>
    ul {
        list-style: none;
        margin: 0 -0.5rem;
        padding: 0;
    }
    li {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    a.link {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        border-radius: var(--border-radius);
        padding: 0.5rem;
        transition: background-color 50ms;
    }
    a.link:hover {
        background-color: var(--selection-color);
    }
    .title {
        display: block;
        font-weight: var(--font-weight-bold);
        line-height: 1.2;
        text-decoration: underline;
        text-decoration-color: var(--accent-color-subdued);
        text-decoration-thickness: 0.12em;
        text-underline-offset: 0.18em;
    }
    .description {
        font-size: var(--font-size-small);
    }
</style>
