---
import type { CollectionEntry } from 'astro:content'

interface Props {
    projects: Array<CollectionEntry<'projects'>>
}

const { projects } = Astro.props
---

<ul>
    {
        projects.map((project) => (
            <li>
                <a href={`/project/${project.id}/`} class="link">
                    <span class="title">{project.data.title}</span>
                    <small class="description">{project.data.description}</small>
                </a>
            </li>
        ))
    }
</ul>

<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 1px solid var(--text-color);
        border-radius: var(--border-radius);
    }
    li {
        --inner-border-radius: calc(var(--border-radius) - 1px);
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &:first-of-type .link {
            border-top-left-radius: var(--inner-border-radius);
            border-top-right-radius: var(--inner-border-radius);
        }

        &:last-of-type .link {
            border-bottom-left-radius: var(--inner-border-radius);
            border-bottom-right-radius: var(--inner-border-radius);
            border-bottom: none;
        }
    }
    .link {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        padding: 0.5rem;
        border-bottom: 1px solid var(--text-color);
        transition: background-color 50ms;

        &:hover {
            background-color: var(--selection-color);
        }
    }
    .title {
        display: block;
        font-weight: var(--font-weight-bold);
        line-height: 1.2;
        text-decoration: underline;
        text-decoration-color: var(--accent-color-subdued);
        text-decoration-thickness: 0.12em;
        text-underline-offset: 0.18em;
    }
    .description {
        font-size: var(--font-size-small);
    }
</style>
