---
import '@fontsource-variable/chivo'
import '@fontsource/space-mono'
import H2 from '../components/H2.astro'
import GlobalStyles from '../components/SiteLayout/GlobalStyles.astro'
import Header from '../components/SiteLayout/Header.astro'
import Main from '../components/SiteLayout/Main.astro'

const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>HerrHerrmann</title>
    </head>
    <body>
        <GlobalStyles />
        <Header />
        <Main>
            {frontmatter?.title ? <H2>{frontmatter.title}</H2> : null}
            <slot />
        </Main>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: var(--font-family-content);
        font-size: var(--font-size-regular);
        line-height: var(--line-height-default);
        color: var(--text-color);
        background-color: var(--light-color);
    }
</style>
